@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

video {
  vertical-align: top;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

/****************** sec1 *********************/

.wrap {
  position: relative;
}

.sec1 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sec1 video {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

/****************** sec2 *********************/

.sec2 {
  width: 100%;
  height: 100vh;
  background-color: #e60012;
  position: relative;
}

.sec2 > ul {
  position: absolute;
  max-width: 1280px;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  margin: 0 auto;

  left: 50%;
  transform: translateX(-50%);
}

.logo {
  /*    width: 100%;*/
  position: absolute;
  z-index: 1;
  left: 75%;
  top: 3%;
}

.sec2 p {
  font-family: "source", sans-serif;
  color: #fff;
  font-size: 2em;
}

.model1 {
  margin-top: 200px;
}

.model1 img {
  width: 400px;
  height: auto;
}

.model1 p {
  margin-top: 50px;
}

.model2 img {
  width: 500px;
  height: auto;
}

.model2 p {
  margin-top: -60px;
}

.model3 {
  margin-top: 300px;
}

.model3 img {
  width: 400px;
  /*    max-width:100%;*/
  height: auto;
}

.model3 p {
  margin-top: 40px;
}

.infobtn img {
  width: 160px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.7s ease;
}

.infobtn img:hover {
  transform: scale(1.1);
}

/****************** sec3 *********************/
.sec3 {
  position: relative;
  width: 100%;
  min-height: 750px;
  background-color: #000;
}

.wave1 {
  overflow: hidden;
}

.wave1 img {
  position: absolute;
  margin-top: -150px;
  /*    width: 100%;*/
  width: 1920px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

.sec3 h3 {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 1;
  font-size: 3em;
  text-align: center;
  font-family: "noto", sans-serif;
  font-weight: lighter;
}

.sec3 > ul {
  position: relative;
  z-index: 1;
  max-width: 1280px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 42.5px;
  margin: 100px auto 0 auto;
}

.sec3 > ul > li {
  width: 255px;
  height: 255px;
  background-color: #fff;
  transition: 0.5s ease;
  cursor: pointer;
}

.sec3 > ul > li:hover {
  opacity: 0.5;
}

.morebtn img {
  width: 180px;
  height: auto;
  cursor: pointer;
  transition: 0.7s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 100px;
}

.textbox {
  padding: 10px;
  font-family: "noto", sans-serif;
  display: grid;
  grid-template-columns: auto auto;
}

.date {
  font-size: 1em;
}

.name {
  font-weight: bold;
  font-size: 1em;
  margin-top: 5px;
  color: darkorange;
}

.price {
  text-align: right;
  font-size: 1em;
}

/******************** sec4 **********************/
.sec4 {
  position: relative;
  max-width: 100%;
  background-color: #000;
}

.wave2 {
  overflow: hidden;
}

.wave2 img {
  position: absolute;
  width: 1920px;
  /*    width: 100%;*/
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 150px;
  z-index: 0;
}

.sec4 h3 {
  position: absolute;
  width: 100%;
  color: #000;
  z-index: 1;
  font-size: 3em;
  text-align: center;
  font-family: "noto", sans-serif;
  font-weight: lighter;
  margin-top: 300px;
}

.sec4 > ul {
  position: relative;
  z-index: 1;
  max-width: 1280px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 42.5px;
  margin: 450px auto 0 auto;
  background-color: white;
}

.sec4 > ul > li {
  width: 255px;
  height: 255px;
  background-color: #c7c7c7;
  transition: 0.5s ease;
  cursor: pointer;
}

.sec4 > ul > li:hover {
  opacity: 0.5;
}

.text {
  padding: 10px;
  font-family: "noto", sans-serif;
}

.news {
  font-size: 0.9em;
  font-weight: bold;
}

.date1 {
  margin-top: 55px;
  font-size: 0.7em;
}

.date2 {
  margin-top: 35px;
  font-size: 0.7em;
}

.date3 {
  margin-top: 15px;
  font-size: 0.7em;
}

.morebtn2 img {
  width: 180px;
  height: auto;
  cursor: pointer;
  transition: 0.7s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
  filter: invert(100%);
}

/************ 태블릿 추가 *************/
@media all and (max-width: 1023px) {
  .sec2 {
    height: 120vh;
  }
  .sec2 > ul {
    grid-template-columns: auto auto;
  }

  .model3 {
    margin: 20px auto;
    grid-column: span 2;
  }

  .logo {
    left: 50%;
    transform: translateX(-50%);
  }

  .sec3 > ul {
    grid-template-columns: auto auto auto;
    justify-content: center;
  }

  .sec4 > ul {
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-bottom: 100px;
  }
}
